HELP.md
target/
!.mvn/wrapper/**
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

coverage
.env*
*.orig
.DS_Store
.sdkmanrc